# Created by http://gitignore.io

tmp

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

logo.ai

gh-pages

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

### Linux ###
.*
!.gitignore
!.git*
*~


### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

### TextMate ###
*.tmproj
*.tmproject
tmtags

### SublimeText ###
# SublimeText project files
*.sublime-workspace

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### Bower ###
bower_components

experiments
site/output
site/tmp

site/crash.log
site/Gemfile.lock