#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.


compile '/assets/css/main' do
  filter :erb
  filter :rainpress
end

compile '/assets/js/main' do
  filter :erb
  filter :uglify_js
end

compile 'assets/*' do
  # don’t filter or layout
end

compile 'fonts/*' do
  # don’t filter or layout
end

compile '/sitemap/' do
  filter :erb
  # don’t filter or layout
end

compile '/docs/' do
  filter :relativize_paths, :type => :html
  filter :erb
  filter :pandoc
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  layout 'docs'
end

compile '/posts/*' do
  filter :pandoc
  filter :colorize_syntax, :default_colorizer => :pygmentsrb
  filter :prepend_title_and_desc, {:item => item}
  filter :wrap_in_container
  layout 'default'
end

compile '/blog/' do
  filter :erb
  filter :wrap_in_container
  layout 'default'
end

compile '*' do
  if item.binary?
    # don’t filter binary items
  else
    filter :relativize_paths, :type => :html
    filter :erb
    layout 'default'
  end
end

route '/posts/*' do
  y,m,d,slug = /([0-9]+)\-([0-9]+)\-([0-9]+)\-([^\/]+)/.match(item.identifier).captures

  "/#{y}/#{m}/#{slug}/index.html"
end

route '/assets/js/main' do
  '/scripts.js'
end

route '/assets/css/main' do
  '/style.css'
end

route '/assets/*' do
  nil
end

route '/sitemap/' do
  '/sitemap.xml'
end

route 'fonts/*' do 
  item.identifier.chop; 
end

route '*' do
  if item.binary? and item.identifier != "/CNAME/"
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :erb
