<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
  <script src="/dist/js/mobile-angular-ui.min.js"></script>
  
<script>
var app = angular.module('TestApp', ['mobile-angular-ui']);

app.run(function($rootScope) {
  $rootScope.myVar = 0;
  
  $rootScope.setMyVar = function(val) {
    $rootScope.myVar = val;
  };
  
  $rootScope.destroyElemById = function(id) {
    var elem = angular.element(document.getElementById(id));
    var scope = elem.scope();
    scope.$destroy();
    elem.remove();
    $rootScope.$apply();
  };

  $rootScope.requireTestStateById = function(id) {
    var elem = angular.element(document.getElementById(id));
    var scope = elem.scope();
    scope.requireTestState();
  };
});

app.controller('controller1', function($scope, SharedState) {
  SharedState.initialize($scope, 'testState');
})

app.controller('controller2', function($scope, SharedState) {
  $scope.requireTestState = function() {
    SharedState.initialize($scope, 'testState');
  };
});


</script>
</head>
<body ng-app='TestApp'>

  <!-- requiring scopes -->
  <div ng-controller="controller1" id='controller1'></div>
  <div ng-controller="controller2" id='controller2'></div>

  <!-- reporters -->
  <div id="testState">{{Ui.get('testState') ? 'true' : 'false' }}</div>
  <div id="ngIfState">{{Ui.get('ngIfState') ? 'true' : 'false' }}</div>
  <div id="refCount">{{Ui.referenceCount('testState')}}</div>
  <div id="has">{{Ui.has('testState') ? 'true' : 'false' }}</div>
  <div id='myVar'>{{myVar}}</div>

  <!-- buttons -->
  <button id="turnOn" ui-turn-on="testState">Turn On</button>
  <button id="turnOff" ui-turn-off="testState">Turn Off</button>
  <button id="toggle" ui-toggle="testState">Toggle</button>

  <a href="" ng-click='setMyVar(5)' ui-turn-on="testState" id='turnOnNgClick'>Turn On and Ng Click</a>
  
  <div ui-if='ngIfState' ui-state='ngIfState' ui-default='true'>
    <a href="" ui-turn-off="ngIfState" ng-click='setMyVar(6)' id='turnOnNgClickNgIf'>Turn On and Ng Click</a>
  </div>

  <a href="" ng-click='requireTestStateById("controller2")' id='attachElem2'>Attach elem 2</a>
  <a href="" ng-click='destroyElemById("controller1")' id='detachElem1'>Detach elem 1</a>
  <a href="" ng-click='destroyElemById("controller2")' id='detachElem2'>Detach elem 2</a>
</body>
</html>