// Buttons

.btn {
  &.active {
    &, &:hover, &:focus, &:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

// .btn-default {
//   color: @link-color;
//   background: @body-bg;
//   border: 1px solid @link-color;
// }

// .btn-default.active {
//   &, &:hover, &:focus, &:active {
//     -webkit-box-shadow: none;
//     -moz-box-shadow: none;
//     box-shadow: none;
//     border-color: @link-color;
//     background: @link-color;
//     color: contrast(@link-color);
//   }
// }

// .btn-default:hover, .btn-default:focus, .btn-default:active {
//   color: @link-color;
//   border-color: @link-color;
// }

.btn-group.nav-tabs {
  border: 0 none;
}