// List Groups
.list-group-item, a.list-group-item {
  margin-bottom: 0;
  border: 0 none;
  border-bottom: 1px solid #dddddd;

  &:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  &:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .fa.pull-right {
    margin-top: 4px;  
  }
}

.list-group-item.media {
  margin-bottom: 0;
  margin-top: 0;
}