// Scrollable

.scrollable {
  position: absolute;
  width: 100%;
  overflow: auto;
  bottom: 0;
  padding: 0; 
  height: auto;
  top: 0;
}

.sidebar .scrollable {
  top: 70px;
  bottom: 0;
}


.app-search~.scrollable {
  top: 34px; 
}