.sidebar {
  z-index: 0;
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: @gray;
  display: block;

  &.sidebar-left {
    left: 0;
    right: auto;
    &.in ~ .app {
      right: auto;
      -ms-transform: translate3d(80%, 0px, 0px);
      -moz-transform: translate3d(80%, 0px, 0px);
      -webkit-transform: translate3d(80%, 0px, 0px);
      transform: translate3d(80%, 0px, 0px);
    }
  }

  &.sidebar-right {
    left: auto;
    right: 0;
    &.in ~ .app {
      left: auto;
      -ms-transform: translate3d(-80%, 0px, 0px);
      -moz-transform: translate3d(-80%, 0px, 0px);
      -webkit-transform: translate3d(-80%, 0px, 0px);
      transform: translate3d(-80%, 0px, 0px);
    }
  }

  &.in {
    &~.app {
      width: 100%;
      position: absolute;
    }
  }
}
