input.ng-invalid, textarea.ng-invalid {
  border: 1px solid #f0ad4e;
}

.ng-dirty input.ng-invalid { 
    border: 1px solid @brand-warning; 
  }

.ng-dirty input.ng-invalid ~ span.ko {
    color: @brand-danger; 
  }
