<!DOCTYPE HTML>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  <%= render "/partials/head" %>
  <body>    
    <%= render "/partials/navbar" %>
    <div id="main">
      <div class="container">
      <div class="row" id="docs">
      <div class="col-xs-12 pull-right col-sm-3 col-md-3 col-lg-3">
      <div id="sidebar-container">
      <div id="sidebar">
      <h4 class="sidebar-title">Docs</h4>
      <div id="toc" class="nav sidebar"></div></div>  
      </div>
      <br/>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <%= yield %>
      </div>
      </div>
      </div>
    </div>
    <%= render "/partials/footer" %>
  </body>
</html>