<div class="scrollable">
  <div class="scrollable-body">
    <div class='section'>
      <ui-state id='MyTabs' default='1'></ui-state>

      <ul class="nav nav-tabs">
        <li ng-class="{'active': ui.eq('MyTabs', 1)}">
          <a ui-set="{'MyTabs': 1}">Tab 1</a>
        </li>
        <li ng-class="{'active': ui.eq('MyTabs', 2)}">
          <a ui-set="{'MyTabs': 2}">Tab 2</a>
        </li>
        <li ng-class="{'active': ui.eq('MyTabs', 3)}">
          <a ui-set="{'MyTabs': 3}">Tab 3</a>
        </li>
      </ul>

      <div ng-if="ui.eq('MyTabs', 1)">
        <h3 class="page-header">Tab 1</h3>
        <p>{{lorem}}</p>
      </div>

      <div ng-if="ui.eq('MyTabs', 2)">
        <h3 class="page-header">Tab 2</h3>
        <p>{{lorem}}</p>
      </div>

      <div ng-if="ui.eq('MyTabs', 3)">
        <h3 class="page-header">Tab 3</h3>
        <p>{{lorem}}</p>
      </div>

      <div class="btn-group justified nav-tabs">
        <a ui-set="{'MyTabs': 1}" 
            ng-class="{'active': ui.equals('MyTabs', 1)}" class="btn btn-default">Tab 1</a>

        <a ui-set="{'MyTabs': 2}" 
            ng-class="{'active': ui.equals('MyTabs', 2)}" class="btn btn-default">Tab 2</a>

        <a ui-set="{'MyTabs': 3}" 
            ng-class="{'active': ui.equals('MyTabs', 3)}" class="btn btn-default">Tab 3</a>
      </div>  
    </div>

  </div>
</div>